window#waybar {
    font-family: "JetBrains Mono Regular";
    background-color: rgba(0, 0, 0, 0);
    color: rgb(230, 230, 230);
    font-size: 14px;
    color: #6CFF89;
    border-color: #6CFF89;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
}

tooltip {
    font-family: "JetBrains MonoNL Regular";
    font-size: 0.8rem;
}

.modules-left {
    border-color: #6CFF89;
    background: rgba(14,51,1,0.6);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    font-size: 14px;
    color: #6CFF89;
    margin-bottom: 0px;
}

.modules-center {
    font-size: 14;
    font-family: "JetBrains Mono Regular";
    border-radius: 10px;
    padding: 3px;
    background: rgba(0,40,10,0.6);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(110,255,140,0.8);
    color: #6CFF89;
}

.modules-right {

    color: #6CFF89;
    background: rgba(0,40,10,0.6);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(110,255,140,0.8);
    border-radius: 10px;
    padding: 3px;
    font-size: 14px;
}



#image.powermenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 70px;
    padding: 2px 2px;
    margin-right: 6px;
    border-left: 2px;
    border-right: 2px;
}


#workspaces {
    border-radius: 7px;
    color: #6CFF89;
    background: #051302;
    padding: 0 0px;
    font-size: 14px;
}

#workspaces button {
    color: #6CFF89;
    font-size: 14px;
    background: #051302;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

#workspaces button:hover {
   font-size: 14px;
   border-color: #6CFF89;
   color: #6CFF89;
   margin: 0px;
}

#workspaces button.special {
}

#workspaces button.active {
    color: #6CFF89;
}

#workspaces button.urgent {
    color: red;
}

#window, #custom-media {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#custom-lightdarkmode {
    padding-right: 0px;
}

#custom-audiooutputtoggle {
    padding-right: 0px;
}

#custom-dotseperator {
    font-size: 25;
    color: rgba(255, 165, 197, 0.599);
}

#custom-sp1 {
    font-size: 16;
    padding-right: 0px;
    padding-bottom: 2px;
    color: rgba(255, 180, 230, 0.599);
    color: white;
}

#clock\#3 {
	font-size: 20;
}

#tray {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-right: 1px;
    margin-left: 10px;

}

#clock.time, #clock.date {
    font-size: 26px;
    font-weight: 600;
}

#custom-audiooutputtoggle, #wireplumber, #custom-lights, #custom-lightdarkmode {
    margin-left: 2px;
    margin-right: 2px;
}

#network {
	margin-left: 10px;
	margin-right: 1px;
}

#custom-buttonspace {
    margin-left: 30px;
    margin-right: 300px;
    padding: 5px 10px;
}

#custom-power {
	font-size: 18px;
	margin-right: 5px;
}

#wireplumber {
   font-size: 17;
   padding-left: 2px;
   padding-right: 2px;
   margin-left: 2px;
   margin-right: 2px;
}

#custom-seperator {
    font-size: 28;
}

#custom-space {
    font-size: 10;
}

#custom-smallspace {
    font-size: 5;
}

#network {
    padding-right: 1px;
}


#battery {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#memory {
    
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;

}

#custom-storage {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#cpu {
    color: lightgoldenrodyellow;
}

#temperature {
    color: lightslategray;
}
